body {
	font-family: 'Economica', sans-serif;
	color: #000;
	font-size: 20px;
}
p {
	line-height: 1;
	margin: 0;
}
h1 {
	color: #a7d0c8;
	font-size: 50px;
	text-align:center;
	margin: 50px;
}
.date-header {
	background: #a7d0c8;
	padding: 25px 0;
	font-size: 20px;
}
.date-header input {
	background: none;
	border: none;
	border-bottom: 3px solid black;
	width: 100%;
}
.names-container {
	text-align:center;
}
.names-container > div {
margin: 20px 0;
}
.names a {
	color: #000;
	font-weight: 400;
	padding: 10px 0;
	text-align:center;
	border: 3px solid #a7d0c8;
	display: inline-block;
	width: 100%;
}
.button {
	border: 3px solid #a7d0c8;
	width: 100%;
	background: none;
	padding:10px 0;
	font-size: 20px;
}
.issue {
	display: block;
	text-align: center;
}